.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh; /* Adjust as needed */
}

.clock {
  width: 300px; /* Adjust size as needed */
  height: 300px; /* Adjust size as needed */
}
