/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 90%;
  max-width: 400px;
  min-width: 300px;
}

/* LocationSelect styles */
.location-select-container {
  margin-bottom: 20px;
}

.location-select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  -webkit-appearance: none; /* Remove default styling in Safari */
  -moz-appearance: none; /* Remove default styling in Firefox */
  appearance: none; /* Remove default styling in modern browsers */
}

.location-select:focus {
  outline: none;
}

/* ClockDisplay styles */
.clock-display {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
